.container {
  width: 280px;
  margin: 0 auto;
}

.auth__title {
  font-family: 'Montserrat';
  font-size: 18px;
  text-align: center;
  padding: 0 22px 0 22px;
}

.auth__bck {
  background: linear-gradient(
      to right,
      rgba(240, 232, 213, 0),
      rgba(240, 232, 213, 0)
    ),
    url('../../assets/images/auth_page/mobile/auth-bck.png') no-repeat;
  width: auto;
  background-position: 0px 0px, bottom;
  /* min-height: 100vh; */
  padding-bottom: 90px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 709px;
    margin: 0 auto;
  }

  .auth__title {
    font-family: 'Montserrat';
    font-size: 27px;
    text-align: center;
    padding: 0 142px 40px 144px;
  }

  .auth__bck {
    background: url('../../assets/images/auth_page/tablet/Layer0.png') no-repeat;
    background-color: #fafafa;
    background-position: bottom;
    padding-bottom: 250px;
  }

  .auth__reg {
    margin: 0 auto;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 8.66px 30px 0px rgba(0, 0, 0, 0.1);
    width: 485px;
    height: 480px;
  }
}

@media (min-width: 1280px) {
  .auth__bck {
    margin: 0 auto;
    width: 1280px;
    background: url('../../assets/images/auth_page/desktop/pic.png') no-repeat;
    background-position: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 120px;
  }

  .bck__color {
    background-color: #fafafa;
    min-height: 100vh;
  }

  .container {
    width: 405px;
    margin: 150px 126px 0px 126px;
  }

  .auth__title {
    font-family: 'Montserrat';
    font-size: 29px;
    text-align: left;
    padding: 0 0 40px 0;
  }

  .auth__reg {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 8.66px 30px 0px rgba(0, 0, 0, 0.1);
    width: 405px;
    height: 480px;
  }
}
