.userinfobox {
  margin-right: 15px;
  background: white;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.userinfoname {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  text-transform: none;
  color: #858598;
}
.userinfologo {
  display: none;
}

.userinfobutton {
  text-decoration: none;
  text-align: center;
  padding: 40px, 60px;
  border: none;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  background: #f5f7fa;
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
@media (min-width: 768px) {
  .userinfologo {
    display: block;
    max-width: 40px;
    max-height: 40px;
    border-radius: 10px;
  }
}
/*
.userinfobox {
  margin-right: 15px;
  background: white;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.userinfoname {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  text-transform: none;
  color: #858598;
}
.userinfologo {
  display: none;
}
.userinfobutton {
  text-decoration: none;
  text-align: center;
  padding: 40px, 60px;
  border: none;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  background: #f5f7fa;
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
@media (min-width: 768px) {
  .userinfologo {
    display: block;
    max-width: 100px;
    max-height: 100px;
    border-radius: 10px;
  }
} */
