.userinfobox {
  background: white;
  min-width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.userinfoname {
  pointer-events: none;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  color: #858598;
}
.userinfologo {
  display: none;
  pointer-events: none;
}

.userinfobutton {
  display: none;
  text-decoration: none;
  text-align: center;
  border: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #858598;
  background: none;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .userinfologo {
    display: block;
    max-width: 40px;
    max-height: 40px;
    border-radius: 10px;
  }
  .userinfobox {
    min-width: 210px;
  }
  .userData {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .userinfobox {
    min-width: 250px;
  }
  .userinfobutton {
    display: block;
  }
  .userData {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
