.wrapper_cards {
}

.present_items {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  padding-top: 20px;
}

.present_cards {
  margin: 0 auto;
  padding-bottom: 50px;
}

.present_card:not(:last-child) {
  margin-bottom: 20px;
}

.present_item {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .present_items {
    max-width: 585px;
  }

  .present_card:not(:nth-child(n - 2)) {
    margin-bottom: 20px;
  }
}

@media (min-width: 1280px) {
  .present_items {
    max-width: 1184px;
  }

  .present_card:not(:nth-child(n - 4)) {
    margin-bottom: 20px;
  }
}
