.wrapper_awards {
  background: var(--bg-color-gray);
}

.present_items {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;

  padding-top: 85px;
}

.present_cards {
  margin: 0 auto;
  /* padding-bottom: 50px; */
}

.present_item {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .present_items {
    max-width: 585px;
  }
}

@media (min-width: 1280px) {
  .present_items {
    max-width: 1184px;
  }
}
