.DayList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: var(--color-blue);
  color: var(--bg-color-white);
  max-width: 100px;
  font-size: 14px;
  border-radius: 5px;
  list-style: none;
}

/* The container */
.container_checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 70px;
}

/* Hide the browser's default checkbox */
.container_checkbox .input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.container_checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container_checkbox:hover .input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_checkbox .input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container_checkbox .checkmark_icon {
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_checkbox .input:checked ~ .checkmark .checkmark_icon {
  display: block;
}

/* Style the checkmark/indicator */
.container_checkbox .checkmark_icon {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: #eee;
}

/* .DayList label {
  width: 50px;
}

.DayList .input {
  margin-right: 15px;
} */
