.week {
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
  bottom: 2px;
}

.wrapper {
  position: relative;
  font-family: Montserrat;
  font-size: 18px;
  font-family: Montserrat;
  line-height: 21px;
  letter-spacing: 0.08em;
  right: 398px;
  top: 17px;
}
