@media (min-width: 320px) {
  .header {
    position: fixed;
    width: 100%;
    height: 64px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 3.464px 8px 0px rgba(29, 29, 27, 0.1);
  }
  .siteLogo {
    width: 100px;
    height: 18px;
  }
  .userLogo {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
  .navControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .userName {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #858598;
  }
  .authModule {
    width: 140px;
    padding: 0 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .button {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    display: block;
  }
}

@media (min-width: 768px) {
}
@media (min-width: 1280px) {
  .button {
    display: none;
  }
}
