.cards_list {
  max-width: 280px;
  margin: 0px auto 40px;
  list-style: none;
}

.card {
  width: 280px;
  height: 260px;
  font-size: 0px;
  background-color: var(--bg-color-white);
  margin-bottom: 30px;
  border-radius: 10px;
}

.cards_list li:last-child {
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .cards_list {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    margin-right: 16px;
  }

  .cards_list li:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

@media (min-width: 1280px) {
  .cards_list {
    max-width: 1186px;
    justify-content: start;
  }

  .cards_list li:nth-last-child(-n + 4) {
    margin-bottom: 0px;
  }
}
