.Progress {
  min-width: 142px;
  padding: 10px 0;
  /* display: flex; */
  justify-content: center;
}

@media (min-width: 768px) {
  .Progress {
    min-width: 400px;
    display: flex;
    padding: 30px 0;
  }
}

@media (min-width: 1280px) {
  .Progress {
    min-width: 380px;
    display: block;
    padding-bottom: 20px;
  }
}

.progressBarDiv {
  display: flex;
  font-size: 12px;
  line-height: 21px;
}

.progressText {
  display: block;
  font-size: 12px;
  line-height: 21px;
  margin-right: 10px;
}

span {
  font-weight: bold;
}

.progressNumbers {
  width: 150px;
  font-size: 14px;
}
