.Progress {
  width: 280px;
  padding: 10px 0;
  justify-content: center;
}

.progressBarDiv {
  display: flex;
  font-size: 12px;
  line-height: 21px;
}

.progressText {
  display: block;
  font-size: 12px;
  line-height: 21px;
  margin-right: 10px;
}

span {
  font-weight: bold;
}

.progressNumbers {
  width: 64px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .Progress {
    width: 470px;
    display: flex;
    padding: 30px 0;
    margin: 0 auto;
  }

  .progressBarDiv {
    width: 360px;
    align-items: center;
  }

  .progressNumbers {
    width: 55px;
  }
}

@media (min-width: 1280px) {
  .Progress {
    width: 350px;
    display: block;
    padding: 0;
    margin: 0;
  }

  .progressNumbers {
    width: 150px;
  }
}
